body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #111;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.hero {
  padding: 100px 20px;
  text-align: center;
  background-color: #f4f4f4;
}
